---
- name: Setup FastAPI app on EC2
  hosts: all
  become: yes
  gather_facts: yes

  vars:
    project_path: /home/{{ ansible_user }}/fastapi
    git_repo: "git@github.com:alexGithub202021/fastapi.git"
    docker_compose_file: docker-compose.prod.yml

  tasks:
    - name: Update apt cache and upgrade
      apt:
        update_cache: yes
        upgrade: dist
        force_apt_get: yes

    - name: Install Docker and Docker Compose
      apt:
        name:
          - docker.io
          # - docker-compose
        state: present

    - name: Ensure Docker service is running
      systemd:
        name: docker
        state: started
        enabled: yes

    - name: Create docker cli-plugins directory
      file:
        path: "/usr/local/lib/docker/cli-plugins/"
        state: directory
        mode: "0755"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"

    - name: Install Docker Compose Plugin
      get_url:
        url: https://github.com/docker/compose/releases/download/v2.29.7/docker-compose-linux-aarch64
        dest: /usr/local/lib/docker/cli-plugins/docker-compose
        mode: "0755"

    - name: print Docker Compose version
      command: docker compose version

    - name: Add ansible user to docker group
      user:
        name: "{{ ansible_user }}"
        groups: docker
        append: yes

    - name: Create project directory
      file:
        path: "{{ project_path }}"
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: "0755"

    - name: Add GitHub.com SSH host key
      known_hosts:
        name: github.com
        key: "{{ lookup('pipe', 'ssh-keyscan -H github.com 2>/dev/null') }}"
        path: /home/{{ ansible_user }}/.ssh/known_hosts
        state: present

    - name: Set correct permissions for known_hosts
      file:
        path: /home/{{ ansible_user }}/.ssh/known_hosts
        mode: "0644"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"

    - name: Clone or update Git repository
      git:
        repo: "{{ git_repo }}"
        dest: "{{ project_path }}"
        version: main
        update: yes # pull latest changes if repo exists
        force: yes # optional: overwrite local changes if needed
        # accept_hostkey: yes
      environment:
        HOME: /home/{{ ansible_user }}
      become: no

    - name: Create logs directory
      file:
        path: "{{ project_path }}/app/logs"
        state: directory
        mode: "0777"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"

    - name: Pull then up
      # command: docker compose -f {{ docker_compose_file }} up -d --force-recreate # --force-recreate -> recreate all containers with updated config/images
      shell: |
        docker compose -f {{ docker_compose_file }} pull
        docker compose -f {{ docker_compose_file }} up -d --no-deps --build
      # Pulls latest images (CI-tagged), rebuilds only changed services, restarts only affected containers.
      args:
        chdir: "{{ project_path }}"
      environment:
        PATH: "/usr/local/bin:/usr/bin:{{ ansible_env.PATH }}"